# ==================================
# Python & Jupyter
# ==================================
# 忽略 Python 缓存文件
__pycache__/
*.pyc

# 忽略 Jupyter Notebook 自动生成的检查点文件夹
.ipynb_checkpoints/


# ==================================
# 开发环境与编辑器配置
# ==================================
# 忽略 Conda 虚拟环境文件夹
my_project_env/

# 忽略 VSCode 的工作区设置
.vscode/

# 忽略 Streamlit 的本地配置
.streamlit/


# ==================================
# 数据文件 (Data Files)
# ==================================
# 忽略所有 CSV 文件。数据文件通常不放入版本控制。
*.csv

# (新功能) 忽略所有 Parquet 文件。这是我们预处理后的数据文件。
*.parquet


# ==================================
# 生成的输出文件
# ==================================
# 忽略所有由代码生成的图片文件
*.png